---
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github-actions:
        update-types:
          - patch
          - minor
  - package-ecosystem: docker
    directory: .devcontainer
    schedule:
      interval: daily
