---
name: Linting & Formatting

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
      - name: Run Linter
        uses: oxsecurity/megalinter@d8612e7786f5c64747a73759d8bc459224a00fe9
        env:
          APPLY_FIXES: all
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Linter artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: linter
          path: |
            megalinter-reports

#      - uses: reviewdog/action-suggester@8f83d27e749053b2029600995c115026a010408e
#        with:
#          tool_name: MegaLinter
#          filter_mode: diff_context
